.expb{
    display: flex;
    flex-direction: column;
    border: 2px dotted white;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    margin: 10px;
    margin-bottom: 10px;
    text-align: center;

}

.expb>p{
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    align-items: center;
    justify-items: center;
}

.expb>h1{
    align-items: center;
    margin-bottom: 10px;
    
}
