@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:ital,wght@0,300;1,600&display=swap');

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0; /* Decreased the margin for mobile view */
}

.skill_text {
  color: white;
  flex: 0.6;
  text-align: left;
  max-width: 500px;
  margin-bottom: 20px;
  font-size: 18px; /* Adjust the font size for mobile view */
}

.skill_text > h2 {
  font-size: 24px; /* Adjust the font size for mobile view */
}

.skill_img {
  flex: 0.4;
  text-align: center;
  margin-right: 0; /* Removed the margin for mobile view */
}

.skill_img > img {
  width: 80%; /* Adjust the width for mobile view */
  max-width: 300px;
  border-radius: 50%;
  object-fit: contain;
}

.skill_skillset > h5 {
  font-family: "Montserrat", sans-serif;
  color: orangered;
  padding: 10px 0; /* Adjust the padding for mobile view */
  font-size: 16px; /* Adjust the font size for mobile view */
}

.skill_slider {
  width: 60%; /* Adjust the width for mobile view */
}

/* Media query for mobile view */
@media screen and (max-width: 768px) {
  .skill_text {
    font-size: 16px;
    margin-left:50px;
  }

  .skill_text > h2 {
    font-size: 20px;
    margin-left: 30px;
  }

  .skill_img > img {
    width: 100%;
    max-width: 200px;
    margin-right: 30px;
  }
  

  .skill_skillset > h5 {
    font-size: 14px;
  }
}
